<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
    @{
        List<string> StringList = new List<string> {"Apple Pie", "Pizza", "Cinnamon Rolls", "Lasagna", "Donuts", "Chocolate Cake", "Burritos"};
            foreach(string foodItem in StringList) 
            {
                string StartsC = "C";
                char character = char.Parse(StartsC);
                @* Console.WriteLine($"{foodItem[0].GetType()}"); *@
                
                if (foodItem[0] == character) {
                    <p style="color:red">@foodItem</p>
                } else {
                    <p>@foodItem</p>
                }
                
            }
    }
</body>
</html>