@model Product
<h1 class="text-center mb-5">@Model.Name</h1>
<div class="text-center d-flex">
    <div class="container flex-1">
        <h1>Categories</h1>

        @foreach(Association item in @Model.ByProducts)
        {
            if(item.Category != null)
            {
                <p>@item.Category.Name</p>
            }
        }
    </div>
    <div class="container">
        <h1>Add Category</h1>
        @{
            Association association = new Association();
            association.ProductId = Model.ProductId;
        }
        @await Html.PartialAsync("_CategoryDropdown", association)
    </div>
</div>