@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<form asp-action="AddByOne" asp-controller="Home" method="post">

@* <input asp-for="add"/> *@
<button>add 1</button>
</form>

<h1>@Context.Session.GetString("Username")</h1>
<h1>@Context.Session.GetInt32("num")</h1>
