@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    <h3>Please give your name:</h3>
    <form action="/dashboard">
        <input type="text">
        <button class="btn btn-success">Submit</button>
    </form>
</div>
