@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    <h3>Please give your name:</h3> 
    @model SessionWorkshop.Models.User
    <form class="form" asp-action="Login" asp-controller="Home" method="post">
        <input  asp-for="name">
        <button class="btn btn-success">submit</button>
    </form>
</div>
