<h1>You made it!</h1>
<h1>@Context.Session.GetInt32("UserId").ToString()</h1>
<a href="/">Home</a>

<form asp-controller="Home" asp-action="LogoutUser">
    <button class="btn btn-danger">Logout</button>
</form>